{% comment %}
<footer class="mt-auto">
  <div class="py-4 border-top" style="margin-top: 40px;">
    <div class="container-fluid">
      <div class="row g-2">
        <div class="col-12 col-md">
          <div class="small">Copyright © Telopea All rights reserved.</div>
        </div>
        <div class="col-12 col-md">
          <div class="d-flex flex-row justify-content-md-end">
            <a href="mailto:info@telopea.net" class="small">お問い合わせ</a>
            <a href="{% url 'help:detail' 1 %}" target="_blank" class="ms-3 small">利用規約</a>
            <a href="{% url 'help:detail' 2 %}" target="_blank" class="ms-3 small">プライバシーポリシー</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
{% endcomment %}