{% extends 'base.html' %}
{% block content %}
<div class="uk-container uk-flex uk-flex-center">
  <div class="uk-width-1-1@s uk-width-large@m">
    <div class="uk-card uk-card-default uk-card-body">
      <h3 class="uk-card-title">ログイン</h3>

      <form class="uk-form-stacked" method="post" novalidate>
        {% csrf_token %}

        {% include 'includes/non_field_errors.html' with errors=form.non_field_errors %}

        <div class="uk-margin">
          {% include 'includes/field.html' with field=form.username %}
        </div>
        <div class="uk-margin">
          {% include 'includes/field.html' with field=form.password %}
        </div>
        <div class="uk-margin">
          <a href="{% url 'authentication:password_reset' %}" class="uk-text-small">パスワードを忘れた場合</a>
        </div>
        <div class="uk-margin">
          <button type='submit' class="uk-button uk-button-primary uk-width-1-1">ログイン</button>
        </div>
        <div class="uk-text-small uk-text-center">
          アカウントをお持ちでないですか？
          <a href="{% url 'authentication:signup' %}">会員登録</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}