{% extends 'base.html' %}
{% block content %}
<div class="uk-container uk-flex uk-flex-center">
  <div class="uk-width-1-1@s uk-width-large@m">
    <div class="uk-card uk-card-default uk-card-body">
      <h3 class="uk-card-title">パスワードを再設定</h3>

      {% if validlink %}
      <form class="uk-form-stacked" method="post" novalidate>
        {% csrf_token %}

        {% include 'includes/non_field_errors.html' with errors=form.non_field_errors %}

        <div class="uk-margin">
          {% include 'includes/field.html' with field=form.new_password1 %}
        </div>
        <div class="uk-margin">
          {% include 'includes/field.html' with field=form.new_password2 %}
        </div>
        <div class="uk-margin">
          <button type='submit' class="uk-button uk-button-primary uk-width-1-1">パスワードを再設定</button>
        </div>
      </form>
      {% else %}
      <p class="uk-text-small">パスワードリセット用のリンクが無効か、既に使用されています。</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}